aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
.deps
*/.deps
*/*/.deps
doc/reference/html
doc/reference/*stamp
doc/reference/xml/
.dotest/
gnome-pty-helper/aclocal.m4
gnome-pty-helper/autom4te.cache/
gnome-pty-helper/config.guess
gnome-pty-helper/config.h
gnome-pty-helper/config.h.in
gnome-pty-helper/config.log
gnome-pty-helper/config.status
gnome-pty-helper/config.sub
gnome-pty-helper/configure
gnome-pty-helper/depcomp
gnome-pty-helper/.deps/
gnome-pty-helper/INSTALL
gnome-pty-helper/install-sh
gnome-pty-helper/Makefile
gnome-pty-helper/Makefile.in
gnome-pty-helper/missing
gnome-pty-helper/omf.make
gnome-pty-helper/stamp-h1
gnome-pty-helper/xmldocs.make
gtk-doc.make
INSTALL
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
*/*/*.la
*/*.la
*.la
.libs
*/.libs
*/*/.libs
libtool
*/*/*.lo
*/*.lo
*.lo
ltmain.sh
Makefile
*/Makefile
*/*/Makefile
*/*/Makefile.in
*/Makefile.in
Makefile.in
missing
mkinstalldirs
*/*/*.o
*/*.o
*.o
omf.make
po/*.gmo
po/Makefile.in.in
po/*.mo
po/POTFILES
po/stamp-it
python/pyvte.pc
python/vte.c
python/vte.defs.new
src/interpret
src/iso8859mode
src/marshal.c
src/marshal.h
src/nativeecho
src/slowcat
src/stamp*
src/utf8echo
src/utf8mode
src/vte
src/vterdb
src/vteseq-2.c
src/vteseq-gen
src/vteseq-list.h
src/vteseq-n.c
src/vte-sw
src/vtetypebuiltins.c
src/vtetypebuiltins.h
src/vteversion.h
stamp-h1
vte.pc
vte-uninstalled.pc
xmldocs.make
